* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font: 400 18px/1.6em 'Roboto Condensed', sans-serif;
    background: #f5f5f5 url('../img/connected.png');
}

body {
    color: #444;
}

a {
    color: #3899e7;
}

a:hover,
a:focus {
    color: #3ba7ff;
}

img {
    vertical-align: middle;
}

h1,
.h1 {
    margin: 0 0 .4em 0;
    font-size: 3.375em;
    line-height: 1;
    font-weight: 700;
}

h2,
.h2 {
    margin: 0 0 .71111111111111em 0;
    font-size: 2.25em;
    line-height: .71111111111111em;
    font-weight: 700;
}

h3,
.h3 {
    margin: 0 0 .93333333333333em 0;
    font-size: 1.5em;
    line-height: .93333333333333em;
    font-weight: 700;
}

h4,
.h4 {
    margin: 0 0 1.6em 0;
    font-size: 1em;
    line-height: 1.6em;
    font-weight: 700;
}

p,
ul,
ol,
dl {
    margin: 0 0 1.6em 0;
    line-height: 1.6em;
}

pre {
    margin: 0 0 1.6em 0;
    font-family: 'Menlo', 'Consolas', 'Courier New', monospace;
    font-size: 16px;
}

code {
    font-family: 'Menlo', 'Consolas', 'Courier New', monospace;
}

.container {
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
}

.container--large {
    max-width: 960px;
}

.section {
    padding: 4.8em 0 3.2em;
}

.section--white {
    background: #fff;
}

.heading {
    position: relative;
    color: #d90002;
}

.heading-anchor {
    position: absolute;
    right: 100%;
    display: none;
    height: 100%;
    padding: 0 .8em;
    font-size: 20px;
    text-decoration: none;
}

.heading:hover .heading-anchor {
    display: inline-block;
}

.red {
    color: red;
}

.options-list dt {
    margin: 1.6em 0 .8em;
    font-size: 1.5em;
    font-weight: 700;
}

/* Nav
--------------------------------------------------------------------------- */

.nav {
    position: fixed;
    bottom: 100%;
    left: 0;
    z-index: 10;
    width: 100%;
    font-size: 16px;
    background: #444;
    -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
            transform: translate(0,0);
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}

.nav--open {
    -webkit-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
            transform: translate(0, 100%);
}

.nav-btn {
    position: absolute;
    top: 100%;
    right: .8em;
    display: inline-block;
    padding: .4em .8em;
    border: 0;
    color: #eee;
    background: #d90002;
}

.nav-btn:hover,
.nav-btn:focus {
    background: #F70205;
}

.nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-list:after {
    display: table;
    clear: both;
    content: '';
}

.nav-list-item {
    float: left;
    width: 50%;
    border-bottom: solid 1px #777;
}

.nav-anchor {
    position: relative;
    display: block;
    padding: .8em 0;
    vertical-align: bottom;
    text-decoration: none;
    color: #fff;
}

.nav-anchor:before {
    display: inline-block;
    padding: 0 .8em;
    height: 100%;
    color: #eee;
    content: '\b7';
}

@media screen and (min-width: 48em) {
    .nav {
        top: 0;
        bottom: auto;
    }

    .nav--open {
        transform: translate(0,0);
    }

    .nav-btn {
        display: none;
    }

    .nav-list {
        text-align: center;
    }

    .nav-list-item {
        float: none;
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    .nav-anchor {
        display: inline-block;
        padding: .4em 0;
    }

    .nav-list-item:first-child .nav-anchor:before {
        display: none;
    }
}

/* Header
--------------------------------------------------------------------------- */

.main-header {
    padding: 4.8em 0 3.2em;
    text-align: center;
    -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
            transform: translate(0,0);
}

.library-name {
    margin-bottom: .2em;
}

.library-desc {

}

/* Forms
--------------------------------------------------------------------------- */

textarea {
    resize: vertical;
}

.form-demo {
    /*max-width: 500px;
    margin: 0 auto;*/
}

.form-row {
    margin-bottom: .8em;
}

.form-input {
    width: 100%;
    padding: .8em;
    border: solid 1px #ccc;
    font-family: inherit;
    -webkit-transition: all .4s ease;
            transition: all .4s ease;
}

.form-input:focus {
    border-color: #62ade7;
    outline: none;
}

.input-invalid {
    border-color: red;
}

.input-invalid:focus {
    border-color: red;
}

.input-valid {
    border-color: #51bb73;
}

.input-valid:focus {
    border-color: #51bb73;
}

.msg-error {
    font-size: 12px;
    color: red;
}

/* Buttons
--------------------------------------------------------------------------- */

.btn {
    display: inline-block;
    width: 100%;
    padding: .8em 3.2em;
    border: solid 1px #ddd;
    text-transform: uppercase;
    background: #fff;
}

.btn--primary {
    border-color: #4d8abb;
    color: #fff;
    background: #62ade7;
}


.cf:after {
    display: table;
    clear: both;
    content: '';
}

/* Syntax highlighter
--------------------------------------------------------------------------- */

.hljs {
    padding: .8em !important;
    font-size: 14px;
}
